/* Define the font families */
@font-face {
  font-family: 'Khmer OS Moul Light';
  src: url('./KhmerOSMuolRegular/KhmerOSMuolRegular.ttf');
}

@font-face {
  font-family: 'Khmer OS Freehand';
  src: url('./KhmerOSFreehandRegular/KhmerOSFreehandRegular.ttf'); */
}

/* Apply the font families to the elements */
h1 {
  font-family: 'Khmer OS Moul Light', sans-serif;
}

h2 {
  font-family: 'Khmer OS Moul Light', sans-serif;
}

h3 {
  font-family: 'Khmer OS Moul Light', sans-serif;
}

body {
  font-family: 'Khmer OS Freehand', sans-serif;
}

.quarto-author-name {
  font-family: "Khmer OS Moul Light", sans-serif;
}

.red {
  color: "#FC1010";
}

.blue {
  color: "#154FBD";
}

.yellow {
  color: "#E1DC15";
}

.green {
  color: "#38B425";
}

.darkblue {
  color: "#227B9F";
}

.orange {
  color: "#DF8527";
}